{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'gallery' %}">Gallery</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ album.title }}</li>
  </ol>
</nav>

<h2 class="mb-4">{{ album.title }}</h2>
<p>{{ album.description }}</p>

<div class="row">
    {% for img in album.images.all %}
    <div class="col-md-3 mb-4">
        <a href="{{ img.image.url }}" target="_blank">
            <img src="{{ img.image.url }}" class="img-thumbnail" alt="{{ img.caption }}" style="width: 100%; height: 200px; object-fit: cover;">
        </a>
        {% if img.caption %}
        <p class="text-center mt-1"><small>{{ img.caption }}</small></p>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
